{% extends 'base_reg.html' %}

{% block content %}
    {% csrf_token %}

    {% if user.is_authenticated %}
    <div class="d-grid gap-2">
        <a href="{% url 'time_interval_view' %}" class="btn btn-secondary">Жми</a>



    </div>
<!--        {% include 'tim.html' %}-->
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Вход</h1>
            <br/>
            <form method="POST" action="{% url 'home_registr' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Логин" required>
                </div>
                <br/>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Пароль" required>
                </div>
                <br/>
                <button type="submit" class="btn btn-secondary">Войти</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
