<div class="container">
    <h2 class="text-center mt-4">Таймер</h2>

    <form action="{% url 'tim' %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="start" class="btn btn-success btn-lg">Старт</button>
        <button type="submit" name="stop" class="btn btn-danger btn-lg">Стоп</button>
    </form>

    <h2 class="text-center mt-4">Общее время: <span class="text-primary">{{ total_time|floatformat:2 }}</span> секунд</h2>
    <h3 class="text-center mt-4">Промежуточные интервалы:</h3>
    <ul class="list-group">
        {% for interval in intervals %}
            <li class="list-group-item">{{ interval|floatformat:2 }} секунд</li>
        {% empty %}
            <li class="list-group-item">Нет промежуточных интервалов</li>
        {% endfor %}
    </ul>
</div>
