{% extends 'base_reg.html' %}

{% block content %}<!-- time_interval.html -->
    <!-- time_interval.html -->
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="start">Старт</button>
        <button type="submit" name="stop">Стоп</button>
    </form>

    <h2>Интервалы времени</h2>
    <table>
        <tr>
            <th>Старт</th>
            <th>Стоп</th>
            <th>Длительность</th>
        </tr>
        {% for interval in formatted_intervals %}
        <tr>
            <td>{{ interval.start_time }}</td>
            <td>{{ interval.end_time }}</td>
            <td>{{ interval.duration }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
