{% extends 'base_reg.html' %}
<!--{% load custom_filters %}-->

{% block content %}

<h2>Итоги дня по дню</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Старт</th>
                <th scope="col">Стоп</th>
                <th scope="col">Длительность</th>
                <th scope="col" style="color: red;">Перерыв</th>  <!-- Новый заголовок для перерыва с красным цветом -->
            </tr>
        </thead>
        <tbody>
            {% for interval in intervals %}
                <tr>
                    <td>{{ interval.start_time }}</td>
                    <td>{{ interval.end_time }}</td>
                    <td>{{ interval.duration | duration_format }}</td>
                    <td>
                        {% if forloop.counter > 1 %}
                            {{ break_times.forloop.counter0|default:"00:00:00" }}  <!-- Выводим перерыв, если он есть -->
                        {% else %}
                            00:00:00  <!-- Если перерыва нет, выводим 00:00:00 -->
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет интервалов для этой даты.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h2>Итоги дня</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Количество интервалов</th>
                <th scope="col">Итоговое время</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in daily_summaries %}
                {% if summary.date_create %}
                    <tr>
                        <td>{{ summary.date }}</td>
                        <td>{{ summary.interval_count }}</td>
                        <td>
                            {% if summary.total_time %}
                                {{ summary.total_time | duration_format }}
                            {% else %}
                                00:00:00
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
