{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Image Animation</title>
    <style>
        #moving-image {
            position: absolute;
            width: 300px;
            display: none; /* Скрываем изображение по умолчанию */
        }
    </style>
</head>
<body>
    <img id="moving-image" src="{% static 'images/buin.png' %}" alt="Moving Image">

    <audio id="sound" preload="auto"></audio>
    
    <script>
        const image = document.getElementById('moving-image');
        const sound = document.getElementById('sound');

        // Массив с путями к аудиофайлам
        const audioFiles = [
            "{% static 'sounds/1.mp3' %}",
            "{% static 'sounds/2.mp3' %}",
            "{% static 'sounds/3.mp3' %}",
            "{% static 'sounds/4.mp3' %}",

            // Добавьте другие аудиофайлы по мере необходимости
        ];

        image.addEventListener('click', function () {
            console.log('Image clicked'); // Проверка срабатывания обработчика
            
            // Выбор случайного аудиофайла
            const randomIndex = Math.floor(Math.random() * audioFiles.length);
            sound.src = audioFiles[randomIndex]; // Устанавливаем случайный аудиофайл
            sound.currentTime = 0; // Сбрасываем время воспроизведения
            
            sound.play().catch(error => {
                console.error('Error playing sound:', error);
            });
        });

        // Генерация случайных координат и отображение изображения при загрузке страницы
        document.addEventListener('click', function () {
            // Генерируем случайные координаты
            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;

            const randomX = Math.random() * (windowWidth - image.width);
            const randomY = Math.random() * (windowHeight - image.height);

            // Устанавливаем позицию изображения
            image.style.left = `${randomX}px`;
            image.style.top = `${randomY}px`;
            image.style.display = 'block'; // Показываем изображение

            // Скрываем изображение через 2 секунды
            setTimeout(() => {
                image.style.display = 'none';
            }, 2000);
        });
    </script>
</body>
</html>
