{% extends 'base.html' %}

{% block content %}
<div class="d-grid gap-2">
    <a class="btn btn-secondary" href="{% url 'add_client' %}">Добавить клиента</a>

    <a class="btn btn-secondary" href="{% url 'add_random_client' %}">Добавить рандомного клиента</a>
    <a class="btn btn-secondary" href="{% url 'delete_random_client' %}">Удаление рандомного клиента</a>
    <a class="btn btn-secondary" href="{% url 'update_random_client' %}">Редактирование рандомного клиента</a>
</div>

<br/>
<br/>
{% include 'search_clients.html' %}
<br/>
<br/>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th scope="col">Государственный номер</th>
            <th scope="col">Ф.И.О</th>
            <th scope="col">Номер телефона</th>
            <th scope="col">Марка и модель автомобиля</th>
            <th scope="col">email</th>
            <th scope="col">Дата добавления</th>
        </tr>
        </thead>
        <tbody>
        {% if clients %}
        {% for client in clients %}
        <tr>
            <!--            id по license_plate (государственному номеру)-->
            <td><a href="{% url 'client' client.id %}">{{ client.license_plate }}</a></td>
            <td>{{ client.full_name }}</td>
            <td>{{ client.phone_number }}</td>
            <td>{{ client.car_model }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.created_at }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}

