{% extends 'base.html' %}
{% block content %}
4к
<div class="card">
  <div class="card-header"><strong>
		{{ customer_client.full_name }}</strong>
  </div>
  <div class="card-body">

<p class="card-text">
<strong>Государственный номер: </strong>{{ customer_client.license_plate }}</p>

<p class="card-text">
<strong>Ф.И.О: </strong>{{ customer_client.full_name }}</p>

<p class="card-text">
<strong>Номер телефона: </strong>{{ customer_client.phone_number }}</p>
<p class="card-text">
<strong>Марка и модель автомобиля: </strong>{{ customer_client.car_model }}</p>
<p class="card-text">
<strong>email: </strong>{{ customer_client.email }}</p>

<p class="card-text">
<strong>Дата добавления: </strong>{{ customer_client.created_at }}</p>

  </div>
</div>

<br/><br/>
<a href="{% url 'client_home' %}" class="btn btn-secondary">Назад</a>
<a href="{% url 'delete_client' customer_client.id %}" class="btn btn-danger">Удалить</a>

<a href="{% url 'update_client' customer_client.id %}" class="btn btn-secondary">Редактировать</a>
{% endblock %}
