{% extends 'base.html' %}

{% block content %}
      {% if user.is_authenticated %}

<section class="vh-100" style="background-color: #f5f6f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-8 col-xl-6">

        <div class="card bg-dark text-white" style="border-radius: 40px;">
          <div class="bg-image" style="border-radius: 35px;">
            <img src="<https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp>"
              class="card-img" alt="weather" />
            <div class="mask" style="background-color: rgba(190, 216, 232, .5);"></div>
          </div>
          <div class="card-img-overlay text-dark p-5">
            <h4 class="mb-0">Москва</h4>
            <p class="display-2 my-3">{% url 'weather_forecast' %}</p>
            <p class="mb-2">Feels Like: <strong>-1.08 °C</strong></p>
            <h5>Snowy</h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
    <a class="btn btn-secondary" href="{% url 'weather_forecast' %}">]Погода</a>


<div class="d-grid gap-2">
    <a href="{% url 'client_home' %}" class="btn btn-secondary">База клиентов</a>
</div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Вход</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Логин" required>

        </div>
        <br/>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Пароль" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Войти</button>

    </form>
    {% endif %}
    </div>
    {% endblock %}