{% extends 'base.html' %}

{% block content %}
      {% if user.is_authenticated %}





<a href="{% url 'add_record' %}" class="btn btn-primary btn-lg">Большая кнопка</a>
<a href="{% url 'client' %}" class="btn btn-primary btn-lg">База клиентов</a>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Вход</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Логин" required>

        </div>
        <br/>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Пароль" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Войти</button>

        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>



    </form>


    {% endif %}
    </div>

    {% endblock %}