<!DOCTYPE html>
<html>
<head>
    <title>Погода</title>
    <link rel="stylesheet" href="<https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css>">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">Погода</h1>
        <form method="POST">
            <button class="btn btn-primary mt-2" type="submit">Добавить город</button>
        </form>
        {% for weather in weather_data %}
        <div class="card mt-4">
            <div class="card-header">
                <h3>{{ weather.city }}</h3>
            </div>
            <div class="card-body">
                <p>Температура: {{ weather.temperature }} °C</p>
                <p>Описание: {{ weather.description }}</p>
                <img src="<http://openweathermap.org/img/wn/>{{ weather.icon }}.png" alt="weather icon">
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
