{% extends 'base_reg.html' %}

{% block content %}
      {% if user.is_authenticated %}



    {% include 'timer.htmll' %}
    <div class="d-grid gap-2">
        <a href="{% url 'client_home' %}" class="btn btn-secondary">База клиентов</a>
        <a href="{% url 'new_order' %}" class="btn btn-secondary">Новая сделка</a>



    </div>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Вход</h1>
    <br/>

    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
            <input type="text" class="form-control" name="username" , placeholder="Логин" required>

        </div>
        <br/>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" , placeholder="Пароль" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">Войти</button>

    </form>
    {% endif %}
    </div>
    {% endblock %}